@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@layer utilities{
  .marvel{
    @apply bg-black p-0 m-0 h-6 font-black border  border-red border-dashed rounded-sm font-bebas text-red hover-gradient-text;
  }
  .separate{
    @apply bg-white w-full h-2;
  }
  .input{
    @apply p-3 border rounded-lg bg-slate-100 w-full
  }
}

.hover-gradient-text {
  background-image: linear-gradient(to bottom, #a40000, #D3D3D3); /* Initial colors */
  -webkit-background-clip: text;
  color: transparent;
  transition: background-position 0.5s step-start;
  background-size: 100% 200%;
  background-position: top;
}

.hover-gradient-text:hover {
  background-position: bottom;
}